/* 1. СНАЧАЛА ПОДКЛЮЧАЕМ ПЕРЕМЕННЫЕ И БАЗОВЫЕ СТИЛИ */
@import url('./base/reset.css');
@import url('./base/variables.css');

/* 2. ПОТОМ ПОДКЛЮЧАЕМ СТИЛИ ЛЕКЦИЙ (они используют переменные) */
@import url('./Lectures/HTML-Lections/1-Base/style.css');

/* 3. ПОТОМ ПОДКЛЮЧАЕМ СТИЛИ СТРАНИЦ */
@import url('./pages/css-page/style.css');
@import url('./pages/main-page/style.css');
@import url('./pages/frontend-page/style.css');
@import url('./pages/git-page/style.css');
@import url('./pages/html-page/style.css');
@import url('./pages/JavaScript-page/style.css');

img {
    max-width: 100%;
    height: auto;
}

section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}