@import url('./base/reset.css'); /* подключение файла со сбросом базовых стилей браузера */
@import url('./base/variables.css'); /* подключение файла с переменными */

 /* подключение файлов стилей для главных страниц каждого раздела лекций  */
@import url('./pages/css-page/style.css'); /* файл с главной страницей модуля css */
@import url('./pages/main-page/style.css'); /* файл с главной страницей всего сайта */
@import url('./pages/frontend-page/style.css'); /* файл с главной страницей модуля frontend */
@import url('./pages/git-page/style.css'); /* файл с главной страницей модуля git */
@import url('./pages/html-page/style.css'); /* файл с главной страницей модуля html */
@import url('./pages/JavaScript-page/style.css'); /* файл с главной страницей модуля JavaScript */

@import url("./Lections/HTML-Lections/1-Base/style.css"); 
@import url("./Lections/HTML-Lections/3-Base-Text-Editing/style.css");
@import url("./Lections/HTML-Lections/5-Semantics/style.css");

img {
    max-width: 100%;
    height: auto;
}

section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}