@import url('./base/reset.css'); /* подключение файла со сбросом базовых стилей браузера */
@import url('./base/variables.css'); /* подключение файла с переменными */

 /* подключение файлов стилей для главных страниц каждого раздела лекций  */
@import url('./pages/css-page/style.css'); /* файл с главной страницей модуля css */
@import url('./pages/main-page/style.css'); /* файл с главной страницей всего сайта */
@import url('./pages/frontend-page/style.css'); /* файл с главной страницей модуля frontend */
@import url('./pages/git-page/style.css'); /* файл с главной страницей модуля git */
@import url('./pages/html-page/style.css'); /* файл с главной страницей модуля html */
@import url('./pages/JavaScript-page/style.css'); /* файл с главной страницей модуля JavaScript */
@import url('./pages/test-page/style.css'); 
 
/* Подключение файлов с лекциями */
@import url("./Lections/HTML-Lections/1-Base/style.css"); /* 1 лекция */
@import url("./Lections/HTML-Lections/2-All-Of-Head/style.css"); /* 2 лекция */
@import url("./Lections/HTML-Lections/3-Base-Text-Editing/style.css"); /* 3 лекция */
@import url("./Lections/HTML-Lections/5-Semantics/style.css"); /* 5 лекция */
@import url("./Lections/HTML-Lections/7-Images-in-code/style.css"); /* 7 лекция */
@import url("./Lections/HTML-Lections/9-Tables-in-HTML/style.css"); /* 9 лекция */
@import url("./Lections/HTML-Lections/11-Forms-in-HTML/style.css"); /* 11 лекция */


/* Подключение файлов с тестами */
@import url('./Tests/1-Main-Page-Of-Tests/style.css'); /* файл с главной страницей тестов */
@import url('./Tests/2-Base-Tests/style.css'); /* тесты по основам HTML */
@import url('./Tests/3-All-Of-Head-Tests/style.css'); /* тесты по head  */
@import url('./Tests/4-Indents-Borders-Tests/style.css'); /* тесты по отступам и границам */
@import url('./Tests/5-Semantics-Tests/style.css'); /* тесты по семантике */
@import url('./Tests/6-Hyperlinks-Tests/style.css'); /* тесты по гиперссылкам */
@import url('./Tests/7-Images-Tests/style.css'); /* тесты по картинкам */
@import url('./Tests/8-Audio-And-Video-Tests/style.css'); /* тесты по аудио и видео */
@import url('./Tests/9-Tables-Tests/style.css'); /* тесты по таблицам */
@import url('./Tests/10-Forms-Tests/style.css'); /* тесты по формам */

img {
    max-width: 100%;
    height: auto;
}

section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}