.lections3 img {
  position: absolute;
  left: 900px; /* Отступ от левого края списка */
  top: 200px;
  width: 270px;
}

.lections3 {
    font-size: 25px;
    line-height: 40px;
    margin-left: 79px;
    margin-top: 16px;
}

.lections3 a {
    text-decoration: none;
    color: #000000;
}

.lections3 a:hover {
    color: #4ECDC4;
    text-decoration: underline;
    cursor: pointer;
}