.base_table_sec h2 {
    font-size: var(--undershsize);
    margin-top: 39px;
}

.base_table_sec .code_html_3 {
    font-size: 25px;
    width: 800px;
}

.base_table_sec .code_html_3 pre {
    margin-left: -290px;
    margin-top: 15px;
}

.section_table h2 {
    font-size: var(--undershsize);
    margin-top: 39px;
}

.section_table ul {
    margin-left: 45px;
    font-size: var(--textsize);
    margin-top: 10px;
}

.attributes_scope_sec h2 {
    font-size: var(--undershsize);
    margin-top: 39px;
}

.attributes_scope_sec .code_html_3 {
    font-size: 25px;
    width: 900px;
    height: 100px;
}

.attributes_scope_sec .code_html_3 pre {
    margin-left: -300px;
}

.attributes_scope_sec ul {
    margin-left: 75px;
    margin-top: 10px;
    font-size: var(--textsize);
    line-height: 30px;
}

.other_attributes_sec h2 {
    font-size: var(--undershsize);
    margin-top: 39px;
}

.other_attributes_sec .code_html_3 pre {
    margin-left: -300px;
}

.other_attributes_sec .code_html_3 {
    font-size: 25px;
    width: 700px;
    height: 250px;
}

.other_attributes_sec ul {
    font-size: var(--textsize);
    margin-top: 10px;
    margin-left: 75px;
}

.rules3_sec h2 {
    font-size: var(--undershsize);
    margin-top: 39px;
}

.rules_list {
    margin-left: 45px;
    font-size: var(--textsize);
    margin-top: 15px;
}

.rules_list ul {
    margin-top: 10px;
    margin-left: 40px;
    line-height: 30px;
}

.rules_list p {
    margin-top: 10px;
    font-weight: bold;
}

.example_table_code h2 {
    font-size: var(--undershsize);
    margin-top: 39px;
}

.example_table_code .code_html_3 pre {
    font-size: var(--textsize);
    margin-left: -300px;
    margin-top: 20px;
}

.example_table_code .code_html_3 {
    width: 1050px;
}

.example_css_code h2 {
    font-size: var(--undershsize);
    margin-top: 39px;
}

.example_css_code .code_html_3 pre {
    margin-left: -360px;
    margin-top: 20px;
    font-size: var(--textsize);
}

.example_css_code .code_html_3 {
    margin-left: 100px;
}

.flex_code_example {
    display: flex;
    gap: 60px;
    margin-top: 30px;
}

.flex_code_example p {
    margin-top: 550px;
    font-size: var(--textsize);
    width: 200px;
    margin-left: -20px;
    font-weight: bold;
}

.conclusions_sec h2 {
    font-size: var(--undershsize);
    margin-top: 39px;
}

.conclusions_sec ol {
    margin-left: 40px;
    font-size: var(--textsize);
    margin-top: 10px;
    line-height: 30px;
}

.conclusions_sec .end_title {
    margin-top: 40px;
}

