.title_html {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--hs-size);
    font-weight: bold;
    margin-top: 20px;
}

.section_one {
    padding: 0 20px;
    margin-top: 54px; 
}

.title {
    font-size: var(--undershsize);
    font-weight: bold;
}

.lections_section2 {
    margin-top: 20px;
}

.lections {
    font-size: var(--lectsize);
    line-height: 40px;
    margin-left: 79px;
    margin-top: 16px;
}

.lections a {
    text-decoration: none;
    color: #000000;
}

.lections a:hover {
    color: #4ECDC4;
    text-decoration: underline;
    cursor: pointer;
}

.lections img {
  position: absolute;
  left: 700px; /* Отступ от левого края списка */
  top: 450px;
  width: 650px;
}