.title_sec_tests {
    font-size: var(--textsize);
    margin-top: 25px;
    letter-spacing: 5px;
    opacity: 50%;
    margin-left: 21px;
}

.header_sec_tests {
    font-size: var(--hs-size);
    margin-top: 1px;
    margin-left: 21px;
}

.title_end_tests {
    font-size: var(--textsize);
    margin-top: 1px;
    letter-spacing: 5px;
    opacity: 50%;
    margin-left: 21px;
}

.tests {
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
}

.test_container_ {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1278px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
    height: 155px;
}

.test_header {
    margin-left: 10px;
    letter-spacing: 2px;
    font-weight: 800;
    margin-top: 5px;
    font-size: var(--undershsize);
}

.test_title {
    margin-left: 10px;
    margin-top: 20px;
    opacity: 50%;
    font-size: var(--textsize);
}

.begin {
    margin-left: 850px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: var(--textsize);
    width: 245px;
    height: 58px;
    background-color: #FCC204;
}

.begin:hover {
    cursor: pointer;
    background-color: #c5a438;
    color: black;
}