.lections_section4 img {
  position: absolute;
  left: 1150px; /* Отступ от левого края списка */
  top: 310px;
  width: 250px;
}

.lections_section4 {
    font-size: var(--lectsize);
    line-height: 40px;
    margin-left: 79px;
    margin-top: 16px;
}

.lections_section4 a {
    text-decoration: none;
    color: #000000; 
}

.lections_section4_dop {
    margin-top: 20px;
}

.lections_section4 a:hover {
    color: #4ECDC4;
    text-decoration: underline;
    cursor: pointer;
}

.lections_section4_dop a:hover {
    color: #4ECDC4;
    text-decoration: underline;
    cursor: pointer;
}