/* Переменные */

 :root {
    /* COLOR VARIABLES */

        --background-color: #d9d9d9; /* цвет для фона  */
        --advantage-color: #D9D9D9; /* цвет для карточек  */
        --footer-color: #000000; /* цвет для футера */

    /* SIZE VARIABLES */

    --hs-size: 40px;  /* размер заголовков  */
    --underhs-size: 30px; /* размер подзаголовков  */
    --text-size: 15px; /* размер текста */
    --lect-size: 30px; /* размер названия лекций  */
    --hsfooter: 20px; /* размер заголовков в футере */
    --footer-font-size: 10px; /* размер текст в футере  */
    --pagenames-size: 25px; /* размер названия страниц в меню  */

    /* Прозрачность (opacity) */
    --opacity-low: 0.25;                      /* Низкая прозрачность (второстепенный текст) */
    --opacity-medium: 0.3;                    /* Средняя прозрачность (полупрозрачные элементы) */
    --opacity-high: 0.5;                      /* Высокая прозрачность (почти прозрачные элементы */

 }