/* Переменные */


:root {
    /* COLOR VARIABLES */
    --background-color: white; /* цвет для фона */
    --advantage-color: #d9d9d9; /* цвет для карточек */
    --footer-color: #000000; /* цвет для футера */

    /* SIZE VARIABLES */
    --hs-size: 40px; /* размер заголовков */
    --undershsize: 30px; /* размер подзаголовков */
    --textsize: 25px; /* размер текста */
    --lectsize: 25px; /* размер названия лекций */
    --hfsfooter: 20px; /* размер заголовков в футере */
    --footer-fontsize: 14px; /* размер текст в футере */
    --pagenamesize: 18px; /* размер названия страниц в меню */

    /* Прозрачность (opacity) */
    --opacity-low: 0.25;
    --opacity-medium: 0.3;
    --opacity-high: 0.5;
}